body{
    margin: 0;
}


nav{
    width: 100%;
    display: flex;
    justify-content: space-between;
    position: fixed;
    background-color: white;
    top: 0;
    z-index: 99;
}

.logo-container, .menu-container{
    padding: 0 80px;
    display: flex;
}

.logo-container a{
    display: flex;
    align-items: center;
    font-family: 'Montserrat', sans-serif;
    text-decoration: none;
    text-transform: uppercase;
    
    h3{
        letter-spacing: 5px;
        color: #707070;
    }

    h5{
        font-size: 10px;
        color: #d8e0e5;
        letter-spacing: 2px;
    }

    img{
        padding-right: 20px;
    }

    div{
        line-height: 0%;
    }


}


.menu-container{

    ul{
        padding: 0%;
        display: flex;
    }

    li{
        list-style-type: none;
        padding: 5px 25px;
    }

    a{
        text-decoration: none;
        font-family: 'Questrial', sans-serif;
        font-size: 11px;
        letter-spacing: 2px;
        color: #707070;
        background-color: white;
        transition: 0.2s;
        display: flex;
        flex-direction: column;
        justify-content: center;
    }

    a:hover{
        background-color: #d8e0e5;
        color: #ff5672;
    }

    .navActive{
        background-color: #ff5672 !important;
        color: white;
        transition: 0.2s;
    }

}


.hero{
    width: 100%;
    height: 97vh;
    background-color: #fc758c;
    display: flex;
    flex-direction: column;
    align-items: center;

    .hero-container{
        padding-top: 20%;
        text-align: center;

        h1{
            font-family: 'Montserrat', sans-serif;
            letter-spacing: 5px;
            font-weight: 700;
            color: white;
        }

        p{
            color: white;
            font-family: 'Questrial', sans-serif;
            letter-spacing: 3px;
            font-size: 10px;
            line-height: 16px;
        }

        button{
            margin: 30px;
            background-color: transparent;
            border:white 1px solid;
            border-radius: 0;
            font-family: 'Questrial', sans-serif;
            text-transform: uppercase;
            color: white;
            font-size: 8px;
            letter-spacing: 2px;
            padding: 10px 25px;
            transition: 0.4s;
            cursor: pointer;
        }

        button:hover{
            background-color: white;
            color: #fc758c;
            transition: 0.4s;
        }


    }


}


.main{
    padding: 50px 15% 0 15%;
    display: flex;
    flex-direction: column;
    justify-content: center;

    .toolbar, .menu-container, .showmore{
        display: flex;
        flex-direction: row;
        justify-content: center;
        padding-bottom: 30px;
    }

    .toolbar{

        div{
            padding: 15px;

            img{
                width: 20px;
                cursor: pointer;
            }
            
        }
    }

    .menu-container{
        li{
            padding: 10px 20px;
            text-decoration: none;
            font-family: 'Questrial', sans-serif;
            font-size: 11px;
            letter-spacing: 2px;
            color: #707070;
            background-color: white;
            transition: 0.2s;
            display: flex;
            flex-direction: column;
            justify-content: center;
            cursor: pointer;
        }
    
        li:hover{
            background-color: white !important;
            color: #fc758c;
        }

        .active{
            background-color: #ff5672 !important;
            color: white;
            transition: 0.2s;
        }
    }


    .showmore{
        button{
            margin: 30px;
            background-color: #ff5672;
            border:white 1px solid;
            border-radius: 0;
            font-family: 'Questrial', sans-serif;
            color: white;
            font-size: 10px;
            letter-spacing: 2px;
            padding: 10px 25px;
            transition: 0.4s;
            cursor: pointer;
        }

        button:hover{
            background-color: white;
            color: #fc758c;
            transition: 0.4s;
            border-color: #ff5672;
        }
    }

    footer{
        padding: 40px 0;
        display: flex;
        flex-direction: column;
        font-family: 'Questrial', sans-serif;
        font-size: 14px;
        letter-spacing: 2px;
        color: #c2cfd7;
        text-align: center;
        border-top: #c2cfd7 solid 1px;

        p{
            a{
                color: #ff5672;
                text-decoration: none;
            }
        }
        

        .social{
            display: flex;
            justify-content: center;
        }

        ul{
            padding: 0%;
            display: flex;

            li{
                list-style-type: none;
                padding: 0 10px;

                a{
                    color: #c2cfd7;
                    transition: 0.5s;
                }

                a:hover {
                    color: #ff5672;
                    transition: 0.5s;
                }
            }

        }

    }


    .gallery{

        display: flex;
        flex-wrap: wrap;

        .card{
            margin: 12px;
            width: 100%;
            height: 200px;
            margin-bottom: 30px;
            background-size: cover;
            background-position: center;
            cursor: pointer;

            .innerCard{
                background-color: #fc758c;
                width: 25%;
                height: 100%;
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;

                span{
                    font-family: 'Questrial', sans-serif;
                    text-transform: uppercase;
                    letter-spacing: 4px;
                    color: white;
                    font-weight: 700;
                    margin-top: 20px;
                }

                .separator{
                    height: 1px;
                    background-color: white;
                    width: 70%;
                    margin-top: 20px;
                }

                h5{
                    font-family: 'Montserrat', sans-serif;
                    color: white;
                    font-weight: 100;
                    letter-spacing: 2px;
                }


            }

        }

        .card:hover .innerCard{
            background-color: white;

            span, h5{
                color: #fc758c;
            }

            .separator{
                background-color: #fc758c;;
            }
        }

        .cardBlock{
            width: 30%;
            height: 200px;
            margin-bottom: 30px;
            background-size: cover;
            background-position: center;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;

            .innerCard{
                width: 100%;
                height: 130px;
                background-color: #ffffffcb;

                span, h5{
                    color: #fc758c;
                }

                .separator{
                    background-color: #fc758c;
                }

            }

        }

        .cardBlock:hover .innerCard{
            background-color: white !important;
        }

    }
    

}